.dashboard{
    display: flex;
}

.dashboard > div{
    /* border: 1px solid grey; */
    flex: 4;
    height: 84.5vh;
}

.dashboard > .interlocutors{
    flex: 1;
    padding: 0;
}

.interlocutors ul{
    margin: 0;
    /* border: 1px solid green; */
    list-style-type: none;
}

.interlocutors ul li{
    padding: .8rem;
    border-bottom: 1px solid grey;
    text-align: right;
    transition: .07s all linear;
}

.interlocutors ul li:hover{
    transform: translate(.5px, -2px);
    background-color: rgb(9, 149, 142);
}