.chat {
    display: flex;
    gap: .8rem
}

.msgui {
    width: 15rem;
    padding: .5rem 1rem;
    border-radius: 4px;
    background-color: rgb(80, 80, 80);
    box-shadow: 2px 2px 8px black;
}

.msgui sub {
    color: #00ffbb;
}