fieldset{
    padding: 2rem 4rem;
    width: 60%;
    transform: translate(10vw);
    box-shadow: 2px 2px 10px black;
    background-color: teal;
    border-radius: 8px;
  }

.login, .signup{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
  }
  
  .signup{
    width: 80%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .signup div {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
  }
  
  .login{
    flex-direction: column;
  }