*{
  margin: 0;padding: 0;box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.login, .signup{
  display: flex;
  gap: 2rem;
}

.signup{
  width: 50%;
  flex-wrap: wrap;
}

.login{
  flex-direction: column;
}

.login button, .signup button{
  align-self: start;
  /* width: 7rem; */
  margin: auto 4px;
}

.input {
  position: relative;
}

.signup select{
  width: 308px;
  height: 7vh;
  font-size: 1.5rem;
  outline: none;
}


.input > input {
  width: 300px;
  height: 7vh;
  font-size: 1.5rem;
  outline: none;
}

.input > input:focus{
  outline: none;
}

.input > input + label{
  position: absolute;
  z-index: 2;
  top: calc(100% - 6.1vh);
  left: 12px;
  font-size: 1.3rem;
  color: grey;
  transition: .1s all linear;
}

.input > input:focus + label{
  top: calc(100% - 11vh);
  background-color: #7b7b7b;
  color: black;
}

.input > input:valid + label {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
